<div class = "container">
<div class="all-users row">
  <% @users.each do |u| %>
    <div class="user col-lg-3">
      <p><%= u.email %>先生</p>
    </div>
  <% end %>
</div>
<hr>
<div class="all-items row">
  <% @items.each do |i| %>
    <div class="item col-lg-3">
      <p><%= i.name %></p>
      <p><%= i.price %></p>
      <p><%= i.description %></p>
    </div>
  <% end %>
</div>
<hr>
</div>
